[Unit]
Description= Lovot Monitor
After=network-online.target
Wants=network-online.target

[Service]
User=hoge
Group=hoge
ExecStart=/bin/bash -c "source ${HOME}/lovot_ws/devel/setup.bash && roslaunch lovot_monitor lovot_monitor.launch"

[Install]
WantedBy=multi-user.target
